<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
	<servlet>
		<servlet-name>list</servlet-name>
		<servlet-class>com.example.web.ListenerTester</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>list</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>database_url</param-name>
		<param-value>jdbc:mysql://127.0.0.1/mbynum</param-value>
	</context-param>
	
	<context-param>
		<param-name>database_driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	
	<context-param>
		<param-name>database_username</param-name>
		<param-value>mbynum</param-value>
	</context-param>
	
	<context-param>
		<param-name>database_password</param-name>
		<param-value>mbynum</param-value>
	</context-param>
	
	<listener>
		<listener-class>
			com.example.web.MyServletContextListener
		</listener-class>
	</listener>
	
</web-app>